.couponbanner_box{
    min-width: 1440px;
    height: 300px;
    background-color: rgb(46, 39, 105);
    background-image: url('../../image/1440/banner-left.png');
    background-repeat: no-repeat;
    display: flex;
    .img{
        margin-right: 48px;
    }
    .text_box{
        color: #ffffff;
        padding-top: 62px;
        .text_one{
            width: 300px;
            font-family: 'GT Flexa';
            font-style: normal;
            font-weight: 300;
            font-size: 30px;
            line-height: 36px;
        }
        .text_two{
            margin-top: 12px;
            font-family: 'GT Flexa';
            font-style: normal;
            font-weight: 500;
            font-size: 72px;
            line-height: 88px;
        }
    }
    .move_about_box{
        min-width: 534px;   
        // margin-left: 193px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;         
        .time_box{
            display: flex;
            align-items: center;
            color: #ffffff;
            font-family: 'Avenir Next';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            margin-top: 42px;
            .box{
                width: 23px;
                height: 23px;
                background: #D7D4FC;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 4px;
                color: #2D2765;
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
            }
        }
        .content_box{
            width: 534px;
            height: 150px;
            background: #D7D4FC;
            background-image: url('../../image/1440/welcome.png');
            background-repeat: no-repeat;
            margin-top: 25px;
            display: flex;
            position: relative;
            .left_box{
                width: 182px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #1E1F26;
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 600;
                div:nth-child(1){
                    font-size: 36px;
                    line-height: 49px;
                }
                div:nth-child(2){
                    font-size: 20px;
                    line-height: 27px
                }
            }
            .right_boxs{
                div:nth-child(1){
                    font-family: 'GT Flexa';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    color: #1E1F26;
                    margin-top: 20px;
                    margin-bottom: 6px;
                }
                div:nth-child(2){
                    font-family: 'Avenir Next';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #4D5360;
                }
                div:nth-child(3){
                    font-family: 'Avenir Next';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #4D5360;
                    margin-top: 4px;
                    margin-bottom: 12px;
                }
                div:nth-child(4){
                    width: 206px;
                    background: #272833;
                    font-family: 'Avenir Next';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 32px;
                    text-align: center;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }
            .cor_style{
                position: absolute;
                right: 14px;
                bottom: 18px;
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 14px;
                display: flex;
                text-decoration-line: underline;
                color: #858B9C;
            }
        }
        
    }
    .right_box{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding-right: 60px;
    }
}